{% extends "back.html" %}

{% block head %}
<!-- 检查登录 -->
<script>
    /**当前用户名称 */
    var nowUser = "";
</script>
<!-- 页面样式 -->
<style>
    body {
        position: relative;
        z-index: -100;
        overflow:hidden;
    }
</style>
<link href="/static/css/ChangeValue.css" rel="stylesheet" />
{% endblock %}
{% block value%}
<div class="outBox">
    <div class="back">
        <div class="head person">
            <img src="#" alt="Alternate Text" />
            <br />
            <div class="upDate">+</div>
            <input class="upHeadPhoto" type="file" name="name" value="" />
            <!--<%--<asp:FileUpload CssClass="upHeadPhoto" runat="server" />--%>-->
            <div class="upDateBotton">
                上传
            </div>
        </div>
        <div class="name person"></div>
        <div class="afterName">
            <div class="zhongxing person list">
                <div class="listValue">修改数据</div>
                <div class="listOne">
                    <div class="listLeft">
                        <div>用户ID</div>
                    </div>
                    <div class="listMiddle">
                        {{context.userid}}
                    </div>
                    <div class="listRight">
                        <!--<%--<div class="button">修改</div>--%>-->
                    </div>
                </div>
                <div class="listOne">
                    <div class="listLeft">
                        <div>用户姓名</div>
                    </div>
                    <div class="listMiddle">
                        {{context.username}}
                    </div>
                    <div class="listRight">
                        <div class="button">修改</div>
                    </div>
                </div>
                <div class="listOne">
                    <div class="listLeft">
                        <div>用户密码</div>
                    </div>
                    <div class="listMiddle">
                        &nbsp;
                    </div>
                    <div class="listRight">
                        <div class="button">修改</div>
                    </div>
                </div>
                <div class="listOne">
                    <div class="listLeft">
                        <div>用户头像</div>
                    </div>
                    <div class="listMiddle">
                        &nbsp;
                    </div>
                    <div class="listRight">
                        <div class="button">修改</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="close">
            X
        </div>
    </div>
</div>
<div class="changeValue" id="name">
    <div class="back">
        <div class="innerBack">
            <input type="text" name="name" value="" placeholder="新的用户名" />
            <input class="true" type="button" value="确认" />
            <input class="false" type="button" value="取消" />
        </div>
    </div>
    <div class="close">X</div>
</div>
<div class="changeValue" id="password">
    <div class="back">
        <div class="innerBack">

            <input type="text" name="password" value="" placeholder="旧的密码" />
            <input type="text" name="password" value="" placeholder="新的密码" />
            <input class="true" type="button" value="确认" />
            <input class="false" type="button" value="取消" />
        </div>
    </div>
    <div class="close">X</div>
</div>
<div class="changeValue" id="head">
    <div class="back">
        <div class="innerBack">

            <div>是否修改当前头像?</div>
            <input class="true" type="button" value="确认" />
            <input class="false" type="button" value="取消" />
        </div>
    </div>
    <div class="close">X</div>
</div>
{% endblock %}
{% block script %}
<!-- 获取登录信息 -->
<script>
    /**信息列 */
    var listMiddle = lt_code.getAll(".listMiddle");
    /**修改信息按钮 */
    var button = lt_code.getAll2(".button");
    //获取用户信息
    !function () {
        //获取用户名
        $(function () {
            /**用户名 */
            var nameBox = lt_code.getAll(".name");
            //$.ajax({
            //    type: "post",
            //    url: "ChangeValue.aspx/GetNowUser",
            //    data: '{n:"name"}',
            //    contentType: "application/json; charset=utf-8",
            //    dataType: "text",
            //    success: function (data) {
            //        //console.log(data);
            //        data = JSON.parse(data);
            //        //console.log(data);
            //        //console.log(data);
            //        if (/err/.test(data.d)) {
            //            data = JSON.parse(data.d);
            //            console.error(data.error);
            //        } else {
            //            nowUser = data.d;
            //            nameBox.innerText = nowUser;
            //            listMiddle[1].innerHTML = nowUser;
            //        }
            //    },
            //    error: function (err) {
            //        console.error(err);
            //    }
            //});
        });
        //获取id
        //$(function () {
        //    $.ajax({
        //        type: "post",
        //        url: "ChangeValue.aspx/GetNowUser",
        //        data: '{n:"id"}',
        //        contentType: "application/json; charset=utf-8",
        //        dataType: "text",
        //        success: function (data) {
        //            data = JSON.parse(data);
        //            //console.log(data);
        //            if (/err/.test(data.d)) {
        //                data = JSON.parse(data.d);
        //                console.error(data.error);
        //            } else {
        //                listMiddle[0].innerHTML = data.d;;
        //            }
        //        },
        //        error: function (err) {
        //            console.error(err);
        //        }
        //    });
        //});
    }();
</script>
<!-- 个人头像处理 -->
<script>
    !function () {
        /**头像图片位置 */
        var headPhotoImg = lt_code.getAll2("img", lt_code.getAll(".head", 0));
        /**上传图片实际按钮 */
        var upDateImg = lt_code.getAll2("input", lt_code.getAll(".head", 0));
        /**上传按钮虚拟按钮 */
        var upDate = lt_code.getAll(".upDate");
        /**用户名显示框 */
        var nameBox = lt_code.getAll(".name");
        /**上传按钮 */
        var upDateBotton = lt_code.getAll(".upDateBotton");

        //开始时隐藏上传按钮
        upDate.style.display = "none";
        nameBox.innerText = nowUser;

        //虚按钮联动
        upDate.onmousedown = function () {
            upDateImg.click();
        }

        //真实按钮检测是否选取图片
        upDateImg.onchange = function () {
            if (!upDateImg.value.length == 0) {
                upDateBotton.style.display = "block";
            } else {
                upDateBotton.style.display = "none";
            }
        };

        /**如果图片不在则删除图片 */
        var displayImg = function () {
            headPhotoImg.style.display = "none";
            upDate.style.display = "block";
        }

        headPhotoImg.src = lt_code.variable.images.headPortrait[0];

        //读取头像
        $(function () {
            $.ajax({
                type: "post",
                url: "/file/",
                data: '{"n":"headPhoto"}',
                contentType: "application/json; charset=utf-8",
                dataType: "text",
                success: function (data) {
                    if (data.length > 0) {
                        headPhotoImg.src = data;
                    } else {
                        displayImg();
                    }
                },
                error: function (err) {
                    console.error(err);
                }
            });
        });

        /**
         * 上传图片函数
         * @param photo
         */
        var UpHeadPhoto = function (photo) {
            $(function () {
                $.ajax({
                    type: "post",
                    url: "ChangeValue.aspx/UpHeadPhoto",
                    data: '{photoValue:"' + photo + '"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "text",
                    success: function (data) {
                        //console.log(data);
                        data = JSON.parse(data);

                    },
                    error: function (err) {
                        console.error(err);
                    }
                });
            });
        };

        //上传图像
        upDateBotton.onmousedown = function () {
            if (headPhotoImg.src.length < 100 && upDateImg.value.length > 0) {
                lt_code.test.fileToBase(upDateImg);
                setTimeout(function () {
                    var photo = lt_code.test.fileToBase.getReturn();
                    //console.log(photo);
                    if (photo.length > 100) {
                        $.ajax({
                            type: "post",
                            url: "ChangeValue.aspx/UpHeadPhoto",
                            data: '{photoValue:"' + photo + '"}',
                            contentType: "application/json; charset=utf-8",
                            dataType: "text",
                            success: function (data) {
                                console.log(data);
                                data = JSON.parse(data);
                                if (data.d == true) {
                                    headPhotoImg.src = photo;
                                    upDate.style.display = "none";
                                    headPhotoImg.style.display = "block";
                                    upDateBotton.style.display = "none";
                                    alert("头像上传成功");
                                } else {
                                    upDateImg.value = null;
                                    alert("头像上传失败");
                                }
                            },
                            error: function (err) {
                                console.error(err);
                            }
                        });
                    }
                }, 400);
            }
        }
    }();
</script>
<script>
    //修改内容框样式,改变内容框的背景颜色
    !function () {
        /**内容框 */
        var back = lt_code.getClass("back");
        //把对象转化为动态数组
        back = Array.prototype.slice.call(back);
        /**当前页面的高度 */
        var height = window.innerHeight;
        /**内容框的高度 */
        var back_height = back[0].offsetHeight;
        /**相差高度 */
        var change_height = height - back_height;
        //change_height = change_height < 0 ? 0 : change_height;
        /**背景内容 */
        var backs = ["rgba(0,0,255,0.1)", "none", "none", "none"];
        //内容框垂直居中
        if (change_height >= 0) {
            back.forEach(function (each, i) {
                each.style.margin = lt_code.getNum(change_height / 2) + "px auto";
                each.style.backgroundColor = backs[i];
            });
        } else {
            back.forEach(function (e, i) {
                e.style.height = height + "px";
                e.style.margin = "0 auto";
                e.style.backgroundColor = backs[i];
            });
        }

        lt_code.variable.addRun(setInterval(function () {
            //height = window.innerHeight;
            if (height != window.innerHeight) {
                height = window.innerHeight;
                change_height = height - back_height;
                if (change_height >= 0) {
                    back.forEach(function (each) {
                        each.style.margin = lt_code.getNum(change_height / 2) + "px auto";
                        each.style.height = back_height + "px";
                    });
                } else {
                    back.forEach(function (e) {
                        //e.style.height = height + "px";
                        e.style.margin = "0 auto";
                    });
                }
            }
        }, 200), "动态修改back块垂直状态");
    }();
</script>
<script>
    //返回个人主页
    !function () {
        var closeButton = lt_code.getAll(".close", 0);
        closeButton.onmousedown = function () {
            window.location.href = "/file/";
        }
    }();

    //弹窗相关
    !function () {
        /**关闭弹窗按钮 */
        var closeButton = lt_code.getAll(".close");
        /**弹窗对象 */
        var changeValue = lt_code.getAll(".changeValue");
        changeValue = Array.prototype.slice.call(changeValue);
        closeButton = function () {
            var ret = [];
            for (var i = 1; i < closeButton.length; i++) {
                ret.push(closeButton[i]);
            }
            return ret;
        }();
        //console.log(closeButton);
        changeValue.forEach(function (e) {
            e.style.display = "none";
        });
        button = Array.prototype.slice.call(button);
        button.forEach(function (e, i) {
            e.onmousedown = function () {
                changeValue[i].style.display = "block";
            }
        });
        closeButton.forEach(function (e, i) {
            e.onmousedown = function () {
                changeValue[i].style.display = "none";
            }
        });
    }();
</script>
<script>
    /**弹窗对象 */
    var changeValue = lt_code.getAllToArray(".changeValue");
    /**确认按钮 */
    var yes = lt_code.getAll(".true");
    /**取消按钮 */
    var no = lt_code.getAllToArray(".false");
    no.forEach(function (e, i) {
        e.onmousedown = function () {
            changeValue[i].style.display = "none";
        }
    });
    yes[0].onmousedown = function () {
        var input = lt_code.getAll("input", 0, changeValue[0]);
        input = input.value;
        if (input.length > 0) {
            window.location.href = window.location.href.split("?")[0] + "?newname=" + input;
            //$.ajax({
            //    type: "post",
            //    url: "ChangeValue.aspx/ChangeValue",
            //    data: '{name:"name",value:"' + input + '"}',
            //    contentType: "application/json; charset=utf-8",
            //    dataType: "text",
            //    success: function (data) {
            //        //console.log(data);
            //        data = JSON.parse(data);
            //        if (data.d == true) {
            //            alert("修改成功");
            //            window.location.href = "ChangeValue.aspx";
            //        } else {
            //            alert("修改失败");
            //        }
            //    },
            //    error: function (err) {
            //        console.error(err);
            //    }
            //});
        } else {
            alert("请输入新的姓名!");
        }
    };
    yes[1].onmousedown = function () {
        var old = lt_code.getAll("input", 0, changeValue[1]);
        var ne = lt_code.getAll("input", 1, changeValue[1]);
        old = old.value;
        ne = ne.value;
        if (old.length > 0 && ne.length > 0) {
            old = lt_code.md5(old);
            ne = lt_code.md5(ne);
            window.location.href = window.location.href.split("?")[0] + "?old=" + old + "&ne=" + ne;
            //$.ajax({
            //    type: "post",
            //    url: "ChangeValue.aspx/ChangePassword",
            //    data: '{oldP:"' + old + '",newP:"' + ne + '"}',
            //    contentType: "application/json; charset=utf-8",
            //    dataType: "text",
            //    success: function (data) {
            //        //console.log(data);
            //        data = JSON.parse(data);
            //        if (data.d == true) {
            //            alert("修改成功");
            //            window.location.href = "ChangeValue.aspx";
            //        } else {
            //            alert("修改失败");
            //        }
            //    },
            //    error: function (err) {
            //        console.error(err);
            //    }
            //});
        } else {
            alert("请输入旧密码和新密码");
        }
    };
    yes[2].onmousedown = function () {
        ///**删除头图并且生成一个上传头图的按钮 */
        //var upHeadPhoto = function () {
        //    iconImg.style.display = "none";
        //    var inner = icon.innerHTML;
        //    icon.innerHTML = "";
        //    var upBottom = lt_code.newDom("div", {
        //        class: "iconUp",
        //        style: {
        //            cursor: "pointer",
        //        }
        //    });

        //    upBottom.innerText = "上传\n头像";

        //    lt_code.addChild(upBottom, icon);
        //    icon.innerHTML += inner;

        //    lt_code.getAll(".iconUp").onmousedown = function () {
        //        upTheHeadPhoto();
        //    };
        //}

        //$(function () {
        //    $.ajax({
        //        type: "post",
        //        url: "/file/",
        //        data: '{"n":"headPhoto"}',
        //        contentType: "application/json; charset=utf-8",
        //        dataType: "text",
        //        success: function (data) {
        //            //console.log(data);
        //            if (data.length > 0) {
        //                iconImg.src = data;
        //            } else {
        //                if (iconVal.innerText !== "尚未登录") {
        //                    upHeadPhoto();
        //                }
        //            }
        //        },
        //        error: function (err) {
        //            console.log(err);
        //            iconImg.src = lt_code.variable.images.icons[0];
        //        }
        //    });
        //});
        upTheHeadPhoto();
        changeValue[2].style.display = "none";
    };


    /**上传头像 */
    var upTheHeadPhoto = function () {

        //固定参数
        /**画布宽高 */
        const WH = 1000;
        /**缩放比率 */
        const ZOOM = 5;

        //所有部件
        /**上传头像的框 */
        var box = lt_code.newDom("div", {
            id: "upHeadPhoto",

        });
        /**关闭按钮 */
        var close = lt_code.newDom("div", {
            id: "upHeadPhotoClose",

        });
        /**上传头像的真实按钮 */
        var input = lt_code.newDom("input", {
            id: "upHeadPhotoInput",
            type: "file",
            style: {
                display: "none",
            }
        });
        /**上传头像的虚假按钮 */
        var inputDiv = lt_code.newDom("div", {
            class: "upHeadPhotoBottom",

        });
        /**裁切图片的盒子 */
        var cutBox = lt_code.newDom("div", {
            id: "upHeadPhotoCutBox",
            title: "移动滑块来裁切\n滚轮调整大小",
            style: {
                display: "none",
                width: "80px",
                height: "80px",
                border: "1px solid #999",
                left: "50px",
                top: "50px",
            }
        });
        /**显示上传图片并裁剪的画布 */
        var inputCanvas = lt_code.newDom("canvas", {
            class: "upHeadPhotoCanvas",
            id: "upHeadPhotoCanvasIn",
            width: WH,
            height: WH,
            style: {
                zoom: "0.2",
                left:"250px",
                top:"250px",
            }
        });
        /**输出图片显示框 */
        var outBox = lt_code.newDom("div", {
            id: "upHeadPhotoCanvasOutBox",
            style: {

            }
        });
        /**输出图片显示框内容 */
        var outBoxValue = lt_code.newDom("span", {

        });
        /**显示裁剪完图片的画布 */
        var outputImg = lt_code.newDom("img", {
            class: "upHeadPhotoCanvas",
            id: "upHeadPhotoCanvasOut",
            width: 80,
            height: 80,

        });
        /**上传头像 */
        var upBottom = lt_code.newDom("div", {
            class: "upHeadPhotoBottom",
            style: {
                left: "350px",
            },
        });

        //画布
        /**裁切用画布 */
        var ctx = lt_code.getCtx(inputCanvas);
        /**头像预览画布 */
        //var ctx2 = lt_code.getCtx(outputCanvas);

        //预设值设定
        /**左边界 */
        const LEFT = 51;
        /**顶部边界 */
        const TOP = 51;
        /**右边界 */
        const RIGHT = 251;
        /**底部边界 */
        const BOTTOM = 251;

        //添加框在body中
        lt_code.addChild(box);
        lt_code.addChild(close, box);
        lt_code.addChild(input, box);
        lt_code.addChild(inputCanvas, box);
        lt_code.addChild(outBox, box);
        lt_code.addChild(outputImg, outBox);
        lt_code.addChild(outBoxValue, outBox);
        lt_code.addChild(inputDiv, box);
        lt_code.addChild(upBottom, box);
        lt_code.addChild(cutBox, box);

        //修改一些内容
        //close.innerText = "X";
        close.onmousedown = function () {
            lt_code.removeChild(box);
        };
        inputDiv.innerText = "上传图片";
        upBottom.innerText = "保存头像";
        outBoxValue.innerText = "头像预览";

        //功能性函数
        /**
         * 获取切割图片的数据
         * @param {CanvasRenderingContext2D} ctx 第一块画布
         * @param {number} zoom 缩放比率
         */
        var getCut = function (ctx, zoom) {
            zoom = zoom ? zoom : 1;
            /**左距离 */
            var left = zoom*(cutBox.offsetLeft - LEFT);
            /**右距离 */
            var width = zoom * (cutBox.offsetWidth);
            /**顶部距离 */
            var top = zoom * (cutBox.offsetTop - TOP);
            /**底部距离 */
            var height = zoom * (cutBox.offsetHeight);
            /**裁切数据 */
            var data = ctx.getImageData(left, top, width, height);
            //console.log(data);
            /**临时canvas画布 */
            var tempCas = lt_code.newDom("canvas", {
                id: "upHeadPhotoTempCanvas",
                width: data.width,
                height: data.height,
                style: {
                    opacity: "1",
                },
            });
            lt_code.addChild(tempCas);
            /**临时画布对象 */
            var tempCtx = lt_code.getCtx(tempCas);
            tempCtx.putImageData(data, 0, 0);
            data = tempCas.toDataURL();
            lt_code.removeChild(tempCas);
            //console.log(data);
            outputImg.src = data;
        }
        inputDiv.onmousedown = function () {
            input.click();
        };
        input.onchange = function () {
            if (this.value.length > 0) {
                lt_code.test.fileToBase(this);
                var run = setInterval(function () {
                    var ret = lt_code.test.fileToBase.getReturn() || "";
                    //删除裁剪框
                    cutBox.style.display = "none";
                    if (ret.length > 0 && ret.length < 10) {
                        clearInterval(run);
                        alert("上传文件为空");
                    } else if (ret.length > 10) {
                        clearInterval(run);
                        //显示裁剪
                        cutBox.style.display = "block";
                        var imgDom = lt_code.newDom("img", {
                            src: ret,
                            style: {
                                opacity: 0,
                            },
                        });
                        lt_code.addChild(imgDom);
                        setTimeout(function () {
                            /**图片的宽度 */
                            var imgW = imgDom.offsetWidth;
                            /**图片的高度 */
                            var imgH = imgDom.offsetHeight;
                            lt_code.removeChild(imgDom);

                            //console.log(imgW);
                            //console.log(imgH);

                            /**图片查看宽度 */
                            var nowW = 0;
                            /**图片查看高度 */
                            var nowH = 0;

                            if (imgW == 0 || imgH == 0) {
                                alert("图片宽高识别失败...");
                                nowH = WH;
                                nowW = WH;
                            } else {
                                if (imgH > imgW) {
                                    nowH = WH;
                                    nowW = lt_code.getNum(imgW / imgH * WH);
                                } else if (imgH < imgW) {
                                    nowW = WH;
                                    nowH = lt_code.getNum(imgH / imgW * WH);
                                } else {
                                    nowH = WH;
                                    nowW = WH;
                                }
                            }

                            /**图片距离左边的距离 */
                            var left = lt_code.getNum((WH - nowW) / 2);
                            /**图片距离顶部的距离 */
                            var top = lt_code.getNum((WH - nowH) / 2);

                            //开始绘制图片
                            ctx.clearRect(0, 0, WH, WH);
                            ctx.beginPath();
                            ctx.drawImage(imgDom, left, top, nowW, nowH);
                            ctx.closePath();

                            //裁切一部分到显示框上去
                            getCut(ctx,ZOOM);
                        }, 100);
                    }
                }, 40);
            }
        };
        cutBox.onmousedown = function (e) {
            cutBox.onmousemove = function (me) {
                /**鼠标移动的x */
                var moveX = me.offsetX - e.offsetX;
                /**鼠标移动的y */
                var moveY = me.offsetY - e.offsetY;

                //e = me;

                //console.log("x:" + moveX + ";y:" + moveY);

                /**框距离左边的距离 */
                var left = lt_code.getNum(this.style.left);
                /**框距离右边的距离 */
                var top = lt_code.getNum(this.style.top);
                /**框的宽度 */
                var width = lt_code.getNum(this.offsetWidth);
                /**框的高度 */
                var height = lt_code.getNum(this.offsetHeight);

                this.style.left = left + moveX > RIGHT - width ? (RIGHT - width) + "px" : left + moveX < LEFT ? LEFT + "px" : (left + moveX).toString() + "px";
                this.style.top = top + moveY > BOTTOM - height ? (BOTTOM - height) + "px" : top + moveY < TOP ? TOP + "px" : (top + moveY).toString() + "px";
            }
        };
        cutBox.onmouseup = function () {
            cutBox.onmousemove = function () { };
            getCut(ctx,ZOOM);
        };
        box.onmouseout = function () {
            cutBox.onmousemove = function () { };
        };
        cutBox.onwheel = function (e) {
            //console.log(e);
            /**框距离左边的距离 */
            var L = this.offsetLeft;
            /**框距离顶部的距离 */
            var T = this.offsetTop;
            /**框的宽度(2是边框占长) */
            var W = this.offsetWidth - 2;
            /**框的高度(2是边框占长) */
            var H = this.offsetHeight - 2;
            if (e.wheelDelta > 0) {
                W = W + 2 > 198 ? 198 : W + 2;
                H = H + 2 > 198 ? 198 : H + 2;
                L = L - 1 < LEFT ? LEFT : L - 1;
                T = T - 1 < TOP ? TOP : T - 1;
            }
            if (e.wheelDelta < 0) {
                W = W - 2 < 20 ? 20 : W - 2;
                H = H - 2 < 20 ? 20 : H - 2;
                L = L + 1 < LEFT ? LEFT : L + 1;
                T = T + 1 < TOP ? TOP : T + 1;
            }
            if (L < LEFT) {
                L = LEFT;
            }
            if (L + W > RIGHT) {
                L = RIGHT - W - 2;
            }
            if (T < TOP) {
                T = TOP;
            }
            if (T + H > BOTTOM) {
                T = BOTTOM - H - 2;
            }
            this.style.top = T + "px";
            this.style.left = L + "px";
            this.style.width = W + "px";
            this.style.height = H + "px";
            getCut(ctx,ZOOM);
        };

        //上传头像
        upBottom.onmousedown = function () {
            //console.log(outputImg.src);
            /**上传数据 */
            var up = {
                n: "upHeadPhoto",
                value: outputImg.src,
            };

            $(function () {
                $.ajax({
                    type: "post",
                    url: "/file/",
                    data: JSON.stringify(up),
                    contentType: "application/json; charset=utf-8",
                    dataType: "text",
                    success: function (data) {
                        console.log(data);
                        if (data == "True") {
                            alert("头像上传成功!");
                            window.location.href = window.location.href;
                        } else if (data == "Error") {
                            alert("用户尚未登录!");
                            window.location.href = "/signOn/";
                        } else if (data == "False") {
                            alert("上传头像失败!");
                        }
                    },
                    error: function (err) {
                        console.error(err);
                    }
                });
            });

        };
    };


</script>
{% endblock %}

