<!DOCTYPE html>

<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{context.name}}-{{context.title}}</title>
    <script src="/static/JavaScriptCode/lt_code.js"></script>
    <link href="/static/css/all.css" rel="stylesheet" />
    <link href="/static/css/file.css" rel="stylesheet" />
    <script src="/static/js/jquery-3.3.1.js"></script>
</head>
<body>
    <div class="menu">
        <div class="title">
            {{context.name}}-文件管理系统
        </div>
        <div class="list">
            <div class="listBlock listSelect" data-listBlock="false" data-dir="root">
                <div class="listValue">
                    root
                    <div class="listBottom"></div>
                </div>
                <!--<div class="listBlock" data-isFile="false" data-dir="root\admin">
                    <div class="listValue">admin</div>
                </div>-->
            </div>

        </div>
        <div class="icon">
            <img class="icon" src="#" alt="Alternate Text" />
            <div>
                测试人员:<a title="个人中心" href="#">test</a>
            </div>
        </div>

        <div class="footer">
            <div class="allFooter">
                &copy; 2020 <a href="https://github.com/huimengli" target="_blank" title="我的GitHub地址">绘梦璃</a> | <a target="_blank" href="http://beian.miit.gov.cn/" title="备案信息查看">浙ICP备2020031480号</a> | All Rights Reserved.
            </div>
        </div>
    </div>
    <div class="main">
        <div class="title">
            <!--<div class="bottom">上一个目录</div>-->
            <div class="bottom admin user">后退</div>
            <div class="bottom admin user">新建目录</div>
            <div class="bottom admin user">上传文件</div>
            <!--<div class="bottom admin user guest">下载文件</div>-->
            <!--<div class="bottom admin user">删除文件</div>-->
            <div class="bottom admin">删除目录</div>
        </div>
        <div class="box">
            <div class="eachFile dir">
                <div class="eachFileValue">当前文件夹:</div> <span title="当前文件夹" id="spanDir" class="dir"></span>
            </div>
            <div class="eachFile">
                <div class="eachFileValue">
                    文件名
                </div>
                <div class="eachFileCreate">
                    创建时间
                </div>
                <div class="eachFileSize">
                    大小(单位:字节)
                </div>
                <div class="eachFileBottom">
                    按钮
                </div>
            </div>
            <div class="showBox">
                <div class="eachFile" data-fileName="/图片.file" data-dir="/admin/图片.file">
                    <div class="eachFileValue">
                        /图片.file
                    </div>
                    <div class="eachFileCreate">
                        2020-10-17 19:36:34
                    </div>
                    <div class="eachFileSize">
                        234766
                    </div>
                    <div class="eachFileBottom">
                        <div class="eachFileBottomBottom" title="下载">
                            下载
                        </div>
                        <div class="eachFileBottomBottom" title="删除">
                            删除
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="/static/js/loading.js"></script>
<script>
    /**用户UID */
    var UID = lt_code.cookie.getCookie("uid") || function () {
        var ret = lt_code.variable.newUID(lt_code.variable.userAgent());
        lt_code.cookie.saveCookie("uid", ret, 7);
        return ret;
    }();
</script>
<script src="/static/js/file/file.js"></script>
<script>

</script>
<script src="/static/js/file/fileProject.js"></script>