<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>文件管理</title>
    <script src="/static/JavaScriptCode/lt_code.js"></script>
    <link href="/static/css/all.css" rel="stylesheet" />
    <link href="/static/css/file.css" rel="stylesheet" />
    <script src="/static/js/jquery-3.3.1.js"></script>
</head>
<body>
    <div class="menu">
        <div class="title">
            绘梦璃的文件管理系统
        </div>
        <div class="list">
            <div class="listBlock listSelect" data-listBlock="false" data-dir="root">
                <div class="listValue">
                    root
                    <div class="listBottom"></div>
                </div>
                <!--<div class="listBlock" data-isFile="false" data-dir="root\admin">
                    <div class="listValue">admin</div>
                </div>-->
            </div>
            
        </div>
        <div class="icon">
            <img class="icon" src="#" alt="Alternate Text" />
            <div>
                管理员:<a href="#">绘梦璃</a>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="title">
            <!--<div class="bottom">上一个目录</div>-->
            <div class="bottom admin">增加根目录</div>
            <div class="bottom admin user">新建目录</div>
            <div class="bottom admin user">上传文件</div>
            <!--<div class="bottom admin user guest">下载文件</div>-->
            <div class="bottom admin user">删除文件</div>
            <div class="bottom admin">删除目录</div>
        </div>
        <div class="box">
            <div class="eachFile">
                <div class="eachFileValue">
                    文件名
                </div>
                <div class="eachFileCreate">
                    创建时间
                </div>
                <div class="eachFileSize">
                    大小(单位:字节)
                </div>
                <div class="eachFileBottom">
                    按钮
                </div>
            </div>
            <div class="showBox">
                <div class="eachFile" data-fileName="/图片.file" data-dir="/admin/图片.file">
                    <div class="eachFileValue">
                        /图片.file
                    </div>
                    <div class="eachFileCreate">
                        2020-10-17 19:36:34
                    </div>
                    <div class="eachFileSize">
                        234766
                    </div>
                    <div class="eachFileBottom">
                        <div class="eachFileBottomBottom">
                            下载
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="allFooter">
            &copy; 2020 <a href="https://github.com/huimengli" target="_blank" title="我的GitHub地址">绘梦璃</a> | <a target="_blank" href="http://beian.miit.gov.cn/" title="备案信息查看">浙ICP备2020031480号</a> | All Rights Reserved.
        </div>
    </div>
</body>
</html>
<script>
    /**用户UID */
    var UID = lt_code.cookie.getCookie("uid") || function () {
        var ret = lt_code.variable.newUID(lt_code.variable.userAgent());
        lt_code.cookie.saveCookie("uid", ret, 7);
        return ret;
    }();
</script>
<script>
    /**文件系统功能目录 */
    var title = lt_code.getAll(".menu");
    /**目录表头模块 */
    var icon = lt_code.getAll(".icon",0);
    /**文件表头图片 */
    var iconImg = lt_code.getAll2(".icon", icon);
    /**表头内容 */
    var iconVal = lt_code.getAll2("div", icon);
    /**网页主体 */
    var body = lt_code.getAll();
    /**目录列表 */
    var list = lt_code.getAll(".list");
    /**按钮块 */
    var mouseBox = lt_code.getAll2(".title", lt_code.getAll(".main"));
    /**文件夹列表 */
    var lists = [];
    /**文件盒子 */
    var mainBox = lt_code.getAll2(".showBox");
    /**所有按钮 */
    var mouseBottoms = lt_code.getAll2(".bottom", mouseBox);
    /**历史记录 */
    lt_code.history = {
        /** 当前搜索的文件夹 */
        now: "",
        /** 上一级文件夹 */
        back: "",
        /** 历史记录 */
        history: [],
        /**
         * 获取上一级
         * @param {string} dir 当前路径
         */
        getBack : function (dir) {
            var all = dir.split("/");
            var ret = "";
            if (all.length >= 2) {
                for (var i = 0; i < all.length - 2; i++) {
                    ret += all[i] + "/";
                }
                ret += all[all.length - 2];
            } else {
                ret = "";
            }
            return ret;
        },
        /**
         * 新的搜索
         * @param {string} dir 新的文件夹路径
         */
        newSearch: function (dir) {
            this.history.push(this.now);
            this.now = dir;
            searchDir(dir);
            this.back = this.getBack(dir);
        },
        /**返回上一次搜索 */
        lastSearch: function () {
            if (this.history.length > 0) {
                this.now = this.history[this.history.length - 1];
                this.history.pop();
                searchDir(this.now);
                this.back = this.getBack(this.now);
            } else {
                searchDir("");
            }
        },
        /**返回上一级搜索 */
        backSearch: function () {
            this.newSearch(this.back);
        }
    };
    
    /**清除主盒子 */
    var clearMainBox = function () {
        mainBox.innerHTML = "";
    };

    /**
     * 新弹窗
     * @param {string} title
     * @param {string} title
     * @param {Function} yesFuc
     * @param {Function} noFuc
     * @param {number} selectType 选择类型:1.文件选择,2.输入选择
     * 
     */
    var newAlert = function (title, value, yesFuc, noFuc, selectType) {
        /**弹窗背景 */
        var alertBack = document.getElementById("alertBack") ? lt_code.getAll("#alertBack") :
            function () {
                var ret = lt_code.newDom("div", {
                    id: "alertBack",
                    class: selectType>0 ? "alertSelect" : "",

                });

                lt_code.addChild(ret);

                return ret;
            }();
        /**弹窗内容框 */
        var alertBox = document.getElementById("alertBox") ? lt_code.getAll("#alertBox") :
            function () {
                var ret = lt_code.newDom("div", {
                    id: "alertBox",

                });

                lt_code.addChild(ret, alertBack);

                return ret;
            }();
        /**弹窗标题 */
        var alertTitle = document.getElementById("alertTitle") ? lt_code.getAll("#alertTitle") :
            function () {
                var ret = lt_code.newDom("div", {
                    id: "alertTitle",

                });

                ret.innerText = title;

                lt_code.addChild(ret, alertBox);

                return ret;
            }();
        /**弹窗内容框 */
        var alertValue = document.getElementById("alertValue") ? lt_code.getAll("#alertValue") :
            function () {
                var ret = lt_code.newDom("div", {
                    id: "alertValue",

                });

                ret.innerText = value ? value : "";

                lt_code.addChild(ret, alertBox);

                return ret;
            }();
        /**确认按钮 */
        var alertYesBottom = document.getElementById("alertYesBottom") ? lt_code.getAll("#alertYesBottom") :
            function () {
                var ret = lt_code.newDom("div", {
                    id: "alertYesBottom",
                    style: {
                        "background-color": yesFuc ? "snow" : "#ccc",
                        cursor: yesFuc ? "pointer" : "default",

                    },

                });

                ret.innerText = "确认";

                lt_code.addChild(ret, alertBox);

                return ret;
            }();
        /**取消按钮 */
        var alertNoBottom = document.getElementById("alertNoBottom") ? lt_code.getAll("#alertNoBottom") :
            function () {
                var ret = lt_code.newDom("div", {
                    id: "alertNoBottom",
                    style: {
                        "background-color": "snow",
                        cursor: "pointer",

                    },

                });

                ret.onmousedown = noFuc ? noFuc : function () {
                    lt_code.getDomFather(alertBack).removeChild(alertBack);
                };

                ret.innerText = "取消";

                lt_code.addChild(ret, alertBox);

                return ret;
            }();


        alertBack.style.display = "";
        alertTitle.innerText = title;
        alertValue.innerText = value ? value : "";
        alertYesBottom.onmousedown = yesFuc ? yesFuc : null;
        alertNoBottom.onmousedown = noFuc ? noFuc : function () {
            lt_code.getDomFather(alertBack).removeChild(alertBack);
        }
        if (selectType==1) {
            var alertInputBox = document.getElementById("alertInputBox") ? lt_code.getAll("#alertInputBox") :
                function () {
                    var ret = lt_code.newDom("div", {
                        id: "alertInputBox",
                        class: "alertSelect",


                    });

                    lt_code.addChild(ret, alertBox);

                    return ret;
                }();
            var alertInput = document.getElementById("alertInput") ? lt_code.getAll("#alertInput") :
                function () {
                    var ret = lt_code.newDom("input", {
                        id: "alertInput",
                        type: selectType == 1 ? "file" :
                            selectType == 2 ? "input" : "",
                        style: {

                        },
                    });

                    lt_code.addChild(ret, alertInputBox);

                    return ret;
                }();
        } else {
            document.getElementById("alertInputBox") ? function () {
                var alertInputBox = lt_code.getAll("#alertInputBox");
                lt_code.getDomFather(alertInputBox).removeChild(alertInputBox);
            } : null;
        }

    };

    /**
     * 新文件行
     * @param {string} fileName 文件名
     * @param {number} size 文件大小
     * @param {number} create 创建时间
     * @param {boolean} isFile 是否是文件
     * @param {string} dir 文件路径
     */
    var newEachFile = function (fileName, size, create, isFile, dir) {
        isFile = isFile == null ? true : isFile;

        var eachFile = lt_code.newDom("div", {
            class: "eachFile",
            "data-fileName": fileName,
            "data-dir": dir,

        });

        /**文件行文件名 */
        var newEachFileValue = lt_code.newDom("div", {
            class: "eachFileValue",

        });

        /**文件创建时间 */
        var newEachFileCreate = lt_code.newDom("div", {
            class: "eachFileCreate",

        });

        /**文件大小 */
        var newEachFileSize = lt_code.newDom("div", {
            class: "eachFileSize",

        });

        /**文件下载按钮所在 */
        var newEachFileBottom = lt_code.newDom("div", {
            class: "eachFileBottom",

        });

        /**文件下载按钮 */
        var newEachFileBottomBottom = lt_code.newDom("div", {
            class: "eachFileBottomBottom",

        });

        newEachFileBottomBottom.innerText = "下载";
        newEachFileValue.innerText = fileName;
        if (isFile) {
            lt_code.addChild(newEachFileBottomBottom, newEachFileBottom);
            newEachFileSize.innerText = size;
            newEachFileCreate.innerText = new Date(create).format("yyyy-MM-dd hh:mm:ss");
        } else {
            newEachFileBottom.innerText = "文件夹";
            newEachFileSize.innerText = "/";
            newEachFileCreate.innerText = "/";
            newEachFileValue.style.cursor = "pointer";
            newEachFileValue.onmousedown = function () {
                var dir = lt_code.getDomFather(this).dataset.dir;
                lt_code.history.newSearch(dir);
            }
        }

        if (fileName == "/..") {
            eachFile.title = "返回上一级";
            //father = father.slice(0,father.length - fileName.length);
            //eachFile.dataset.father = father;
            newEachFileValue.onmousedown = function () {
                lt_code.history.backSearch();
            }
        }

        lt_code.addChild(newEachFileValue, eachFile);
        lt_code.addChild(newEachFileCreate, eachFile);
        lt_code.addChild(newEachFileSize, eachFile);
        lt_code.addChild(newEachFileBottom, eachFile);
        lt_code.addChild(eachFile, mainBox);
    };

    /**文件信息查询并创建 */
    var newFileInfo = function (filename) {

        /**上传信息 */
        var info = {
            n: "list",
            isdir: "False",
            dir: filename,
        };

        $.ajax({
            type: "post",
            url: "/file/",
            data: JSON.stringify(info),
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function (data) {
                eval("data = " + data);
                //console.log(data);
                var x = "";
                data.forEach(function (i) {
                    eval("x = " + i);
                    //console.log(x);
                    newEachFile(x.name, x.size, lt_code.getNum(x.create), true, x.path);
                });
            },
            error: function (err) {
                console.log(err);
            }
        });
    };

    /**
     * 查找目录
     * @param dir
     */
    var searchDir = function (dir) {

        //清空主盒子
        clearMainBox();

        /**上传数据 */
        var up = {
            n: "list",
            isdir: "True",
            dir: dir,
        };


        $(function () {
            $.ajax({
                type: "post",
                url: "/file/",
                data: JSON.stringify(up),
                contentType: "application/json; charset=utf-8",
                dataType: "text",
                success: function (data) {
                    eval("data = " + data);
                    //console.log(data);
                    //清空内容数据
                    clearMainBox();
                    newEachFile("/..", 0, 0, false, "", dir);
                    for (var j = 0; j < data.length; j++) {
                        //console.log(data[j]);
                        for (var x in data[j]) {
                            if (data[j][x] == "False") {
                                newEachFile(x.slice(dir.length), 0, 0, false, x);
                            } else {
                                newFileInfo(x);
                            }
                        }
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });
    };

    /**
     * 新文件夹行
     * @param {string} value 文件夹名称
     * @param {string} isfile 是否是文件
     * @param {HTMLElement} father 父类结点
     */
    var newListBlock = function (value, isfile, father) {
        //console.log(father);

        var newBottom = lt_code.newDom("div", {
            class: "listBottom",

        })

        var newValue = lt_code.newDom("div", {
            class: "listValue",

        });

        newBottom.onmousedown = function () {
            var fatherDOM = lt_code.getDomFather(lt_code.getDomFather(this));
            fatherDOM.className = fatherDOM.classList.length > 1 ? "listBlock" : "listBlock listSelect";
            //console.log(father.classList);
        }

        //显示文件夹内容在右边屏幕上
        newValue.onmousedown = function () {

        }

        var newBlock = lt_code.newDom("div", {
            "data-listBlock": isfile,
            "data-dir": value,
            class: "listBlock",

        });

        value = father.dataset.dir == "root" ? value : value.slice(father.dataset.dir.length);

        newValue.innerHTML = value;
        newValue.onmousedown = function () {
            var dir = lt_code.getDomFather(this).dataset.dir;
            lt_code.history.newSearch(dir);
        }

        lt_code.addChild(newBottom, newValue);
        lt_code.addChild(newValue, newBlock);
        lt_code.addChild(newBlock, father);
        lists.push(newBlock);

    };

    lt_code.variable.addRun(function () {
        return setInterval(function () {
            body.clientWidth / body.clientHeight < 1470 / 935 ? body.style.backgroundSize = "auto 100%" : body.style.backgroundSize = "100% auto";
        },100);
    }(), "背景图片适应");

    window.onload = function () {
        iconImg.src = lt_code.variable.images.headPortrait[0];
        /**所有按钮 */
        var bottoms = Array.prototype.slice.call(lt_code.getAll2(".bottom", mouseBox));
        mouseBox.onmousemove = function (e) {
            bottoms.forEach(function (ea) {
                lt_code.mouseBoxShadow(ea, e, "#999");
            });
        };

        lists.push(lt_code.getAll(".listBlock", 0));
        lt_code.getAll(".listBottom", 0).onmousedown = function () {
            var father = lt_code.getDomFather(lt_code.getDomFather(this));
            father.className = father.classList.length > 1 ? "listBlock" : "listBlock listSelect";
            //console.log(father.classList);
        };
        var i = 0;
        lt_code.variable.addRun(setInterval(function () {
            if (i<lists.length) {
                /**父类结点 */
                var father = lists[i];
                /**真实路径 */
                var dir = father.dataset.dir;
                /**上传数据 */
                var up = {
                    n: "list",
                    isdir:"True",
                    dir: dir
                };
                //获取目录
                $(function () {
                    $.ajax({
                        type: "post",
                        url: "/file/",
                        data: JSON.stringify(up),
                        contentType: "application/json; charset=utf-8",
                        dataType: "text",
                        success: function (data) {
                            eval("data = " + data);
                            //console.log(data);
                            for (var j = 0; j < data.length; j++) {
                                //console.log(data[j]);
                                for (var x in data[j]) {
                                    if (data[j][x] == "False") {
                                        newListBlock(x, false, father);
                                    } else if (data[j][x] == "True") {
                                        continue;
                                    }
                                }
                            }
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    });
                });
                i++;
            } else if(i>lists.length*2) {
                lt_code.variable.runer.forEach(function (e) {
                    if (e['name'] == '遍历所有文件夹') {
                        clearInterval(e['num']);
                    }
                });
            }
        }, 100), "遍历所有文件夹");
        lt_code.history.newSearch("");
        lt_code.getAll(".listValue", 0).onmousedown = function () {
            lt_code.history.newSearch("");
        }
        //新建根目录
        mouseBottoms[0].onmousedown = function () {

        };
        //新建目录
        mouseBottoms[1].onmousedown = function () {
            newAlert("新建目录", "请输入目录名称", function () {
                /**输入值 */
                var input = lt_code.getAll("#alertInput").value;
                if (input.length > 20 ||/[\ `~!@#$%^&*()_\-+=<>?:"{}|,\.\/;'\\[\]·~！@#￥%……&*（）——\-+={}|《》？：“”]/.test(input)) {
                    alert("文件名不能长于20字符\n也不允许输入奇怪的字符!");
                } else {
                    /**上传数据 */
                    var up = {
                        n: "newDir",
                        name: input,
                        dir: lt_code.history.now,

                    };

                    //新建文件夹
                    $(function () {
                        $.ajax({
                            type: "post",
                            url: "/file/",
                            data: JSON.stringify(up),
                            contentType: "application/json; charset=utf-8",
                            dataType: "text",
                            success: function (data) {
                                console.log(data);
                                
                            },
                            error: function (err) {
                                console.log(err);
                            }
                        });
                    });
                }

            }, null, 2);
        };
        //上传文件
        mouseBottoms[2].onmousedown = function () {

        };
        //删除文件
        mouseBottoms[3].onmousedown = function () {

        };
        //删除目录
        mouseBottoms[4].onmousedown = function () {

        };
    };
</script>
<script src="/static/js/file/file.js"></script>