<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>文件管理</title>
    <script src="/static/JavaScriptCode/lt_code.js"></script>
    <link href="/static/css/all.css" rel="stylesheet" />
    <link href="/static/css/file.css" rel="stylesheet" />
    <script src="/static/js/jquery-3.3.1.js"></script>
</head>
<body>
    <div class="menu">
        <div class="title">
            绘梦璃的文件管理系统
        </div>
        <div class="list">
            <div class="listBlock listSelect" data-listBlock="false" data-dir="root">
                <div class="listValue">root</div>
                <!--<div class="listBlock" data-isFile="false" data-dir="root\admin">
                    <div class="listValue">admin</div>
                </div>-->
            </div>
            
        </div>
        <div class="icon">
            <img class="icon" src="#" alt="Alternate Text" />
            <div>
                管理员:<a href="#">绘梦璃</a>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="title">
            <!--<div class="bottom">上一个目录</div>-->
            <div class="bottom admin">增加根目录</div>
            <div class="bottom admin user">新建目录</div>
            <div class="bottom admin user">上传文件</div>
            <div class="bottom admin user guest">下载文件</div>
            <div class="bottom admin user">删除文件</div>
            <div class="bottom admin">删除目录</div>
        </div>
        <div class="box">

        </div>
    </div>
    <div class="footer">
        <div class="allFooter">
            &copy; 2020 <a href="https://github.com/huimengli" target="_blank" title="我的GitHub地址">绘梦璃</a> | <a target="_blank" href="http://beian.miit.gov.cn/" title="备案信息查看">浙ICP备2020031480号</a> | All Rights Reserved.
        </div>
    </div>
</body>
</html>
<script>
    /**用户UID */
    var UID = lt_code.cookie.getCookie("uid") || function () {
        var ret = lt_code.variable.newUID(lt_code.variable.userAgent());
        lt_code.cookie.saveCookie("uid", ret, 7);
        return ret;
    }();
</script>
<script>
    /**文件系统功能目录 */
    var title = lt_code.getAll(".menu");
    /**目录表头模块 */
    var icon = lt_code.getAll(".icon",0);
    /**文件表头图片 */
    var iconImg = lt_code.getAll2(".icon", icon);
    /**表头内容 */
    var iconVal = lt_code.getAll2("div", icon);
    /**网页主体 */
    var body = lt_code.getAll();
    /**目录列表 */
    var list = lt_code.getAll(".list");
    /**按钮块 */
    var mouseBox = lt_code.getAll2(".title", lt_code.getAll(".main"));
    /**文件夹列表 */
    var lists = [];
    
    /**
     * 新文件夹行
     * @param {string} value 文件夹名称
     * @param {string} isfile 是否是文件
     * @param {HTMLElement} father 父类结点
     */
    var newListBlock = function (value, isfile, father) {
        console.log(father);

        var newValue = lt_code.newDom("div", {
            class: "listValue",

        });
        
        newValue.onmousedown = function () {
            var father = lt_code.getDomFather(this);
            father.className = father.classList.length > 1 ? "listBlock" : "listBlock listSelect";
            //console.log(father.classList);
        }

        var newBlock = lt_code.newDom("div", {
            "data-listBlock": isfile,
            "data-dir": value,
            class: "listBlock listSelect",

        });

        value = father.dataset.dir == "root" ? value : value.slice(father.dataset.dir.length);

        newValue.innerHTML = value;

        lt_code.addChild(newValue, newBlock);
        lt_code.addChild(newBlock, father);
        lists.push(newBlock);

    }

    lt_code.variable.addRun(function () {
        return setInterval(function () {
            body.clientWidth / body.clientHeight < 1470 / 935 ? body.style.backgroundSize = "auto 100%" : body.style.backgroundSize = "100% auto";
        },100);
    }(), "背景图片适应");

    window.onload = function () {
        iconImg.src = lt_code.variable.images.headPortrait[0];
        /**所有按钮 */
        var bottoms = Array.prototype.slice.call(lt_code.getAll2(".bottom", mouseBox));
        mouseBox.onmousemove = function (e) {
            bottoms.forEach(function (ea) {
                lt_code.mouseBoxShadow(ea, e, "#999");
            });
        };

        lists.push(lt_code.getAll(".listBlock", 0));
        lt_code.getAll(".listValue", 0).onmousedown = function () {
            var father = lt_code.getDomFather(this);
            father.className = father.classList.length > 1 ? "listBlock" : "listBlock listSelect";
            //console.log(father.classList);
        };
        var i = 0;
        lt_code.variable.addRun(setInterval(function () {
            if (i<lists.length) {
                /**父类结点 */
                var father = lists[i];
                /**真实路径 */
                var dir = father.dataset.dir;
                /**上传数据 */
                var up = {
                    n: "list",
                    dir: dir
                };
                //获取目录
                $(function () {
                    $.ajax({
                        type: "post",
                        url: "/file/",
                        data: JSON.stringify(up),
                        contentType: "application/json; charset=utf-8",
                        dataType: "text",
                        success: function (data) {
                            eval("data = " + data);
                            console.log(data);
                            for (var j = 0; j < data.length; j++) {
                                console.log(data[j]);
                                for (var x in data[j]) {
                                    if (data[j][x] == "False") {
                                        newListBlock(x, false, father);
                                    } else if (data[j][x] == "True") {

                                    }
                                }
                            }
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    });
                });
                i++;
            } else {
                //lt_code.variable.runer.forEach(function (e) {
                //    if (e['name'] == '遍历所有文件夹') {
                //        clearInterval(e['num']);
                //    }
                //});
            }
        }, 100), "遍历所有文件夹");
        
    };
</script>
<script src="/static/js/file/file.js"></script>