<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>打飞机</title>
    <!--<script src="http://www.keliit.top/static/JavaScriptCode/lt_code.js"></script>-->
    <script src="/static/js/JavaScriptCode/lt_code.js"></script>
    <link href="/static/css/plane.css" rel="stylesheet" />
    <script src="/static/js/plane/index.js"></script>
</head>
<body>
    <div class="MyInfo">

    </div>
    <div class="box">
        <canvas>
            你的电脑浏览器不支持canvas模块
            请使用最新版edge或者谷歌浏览器
        </canvas>
    </div>
    <img src="" alt="Alternate Text" style="display:none;" />
</body>
</html>