<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>测试API</title>
    <script src="/static/JavaScriptCode/lt_code.js"></script>
    <script src="/static/three.js/build/three.js"></script>
</head>
<body>
    <div class="buttonBox">
        <input type="checkbox" class="useGyroscope" name="useGyroscope" value="是否使用陀螺仪?" />
    </div>
    <div class="valueBox">
        
    </div>
</body>
</html>
<script>
    /**内容盒子 */
    var valueBox = lt_code.getAll(".valueBox");
    /**按钮盒子 */
    var buttonBox = lt_code.getAll(".buttonBox");
    /**是否使用陀螺仪 */
    var useGyroscope = lt_code.getAll(".useGyroscope");
    try {
        /**API对象 */
        var API = new lt_code.API();
    } catch (e) {
        var API = null;
    }
    /**多少时间从API拿一次数据*/
    const WAITTIME = 100;

    /**
     * 创建内容行
     * @param name
     * @param value
     */
    var createLine = function (name, value) {
        var line = lt_code.newDom("div", {
            class: "valueLine",
        });
        var lineTitle = lt_code.newDom("div", {
            class: "valueLineTitle",
            innerText: name
        });
        var lineValue = lt_code.newDom("div", {
            class: "valueLineValue",
            innerText: value
        });
        lt_code.addChild(lineTitle, line);
        lt_code.addChild(lineValue, line);

        lt_code.addChild(line, valueBox);
        return lineValue;
    };

    //以下是数据
    /**陀螺仪的原始数据 */
    var Gyroscope = createLine("原始陀螺仪数据", null);
    /**陀螺仪四元数数据 */
    var GyroscopeQuaternion = createLine("旋转四元素数据", null);
    /**陀螺仪欧拉角数据 */
    var GyroscopeEuler = createLine("旋转欧拉角数据", null);

    //加载模块
    window.onload = function () {
        lt_code.init("API");
        lt_code.init("PTD");
        lt_code.variable.addRun(setInterval(async function () {
            if (lt_code.API&&lt_code.pseudoThreeD) {
                lt_code.variable.delRun("等待模块加载");
                API = new lt_code.API();     
                await API.Init();
                //设置能否使用API数据
                useGyroscope.onchange = function () {
                    API.UseGyroscope = this.checked;
                };

                //开始获取数据
                lt_code.variable.addRun(setInterval(function () {
                    if (API.UseGyroscope) {
                        Gyroscope.innerText = JSON.stringify({
                            x: lt_code.pseudoThreeD.getAccuracy(API.Gyroscope.x),
                            y: lt_code.pseudoThreeD.getAccuracy(API.Gyroscope.y),
                            z: lt_code.pseudoThreeD.getAccuracy(API.Gyroscope.z),
                        });
                        GyroscopeQuaternion.innerText = JSON.stringify({
                            x: lt_code.pseudoThreeD.getAccuracy(API.GyroscopeQuaternion.x),
                            y: lt_code.pseudoThreeD.getAccuracy(API.GyroscopeQuaternion.y),
                            z: lt_code.pseudoThreeD.getAccuracy(API.GyroscopeQuaternion.z),
                            w: lt_code.pseudoThreeD.getAccuracy(API.GyroscopeQuaternion.w),
                        });
                        GyroscopeEuler.innerText = JSON.stringify({
                            x: lt_code.pseudoThreeD.getAccuracy(radianToAngle(API.GyroscopeEuler.x)),
                            y: lt_code.pseudoThreeD.getAccuracy(radianToAngle(API.GyroscopeEuler.y)),
                            z: lt_code.pseudoThreeD.getAccuracy(radianToAngle(API.GyroscopeEuler.z)),
                        });
                    } else {
                        Gyroscope.innerText = "null";
                        GyroscopeQuaternion.innerText = "null";
                        GyroscopeEuler.innerText = "null";
                    }
                }, WAITTIME), "获取数据");

            }
        }, 100), "等待模块加载");
    };

    /**
     * 将弧度转化为角度
     * @param e
     */
    var radianToAngle = function (radian) {
        return Math.round(radian * 180 / Math.PI);
    }

    /**
     * 将角度转化为弧度
     * @param deg
     */
    var angleToRadian = function (deg) {
        return deg * Math.PI / 180;
    }
</script>
