<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="../static/JavaScriptCode/lt_code.js"></script>
    <!--<script src="http://api.map.baidu.com/api?v=1.4" type="text/javascript"></script>-->
    <!--<script src="http://api.map.baidu.com/api?v=1.4" type="text/javascript"></script>-->
    <!--<script src="../static/vConsole/dist/vconsole.min.js"></script>-->
    <script src="../static/js/baiduAPI/getscript.js"></script>
    <!--<script src="../static/js/baiduAPI/abclite-2059-s.js"></script>-->
    <style>
        .box {
            background-color: black;
            border: 1px solid blue;
            width: 200px;
            height: 200px;
            border-radius: 100px;
            margin: 100px auto;
            position: relative;
        }

        .line {
            background-image: linear-gradient(to bottom,red 30%,white 30%,white 100%);
            width: 5px;
            height: 100px;
            transform: rotate(322deg);
            position: absolute;
            left: 100px;
            /* top: 100px; */
            top: 50px;
        }
    </style>
</head>
<body>
    <!--<canvas class="demo"></canvas>-->
    <div class="demo">

    </div>
    <hr />
    <div class="demo2">

    </div>
    <div class="box">
        <div class="line">

        </div>
    </div>
    <div class="box">
        <div class="line">

        </div>
    </div>
    <div class="box">
        <div class="line">

        </div>
    </div>
</body>
</html>
<script>

    // 初始化vConsole
    window.vConsole = new window.VConsole({
        defaultPlugins: ['system', 'network', 'element', 'storage', 'performance'], // 可以在此设定要默认加载的面板
        maxLogNumber: 1000,
        onReady: function () {
            console.log('vConsole is ready.');
        },
        onClearLog: function () {
            console.log('on clearLog');
        }
    });
</script>
<script>
    var x = lt_code.getAll(".demo");

    var getPosition = function () {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            alert("您的手机不支持地理定位");
        }
    }

    var showPosition = function (position) {
        lat = position.coords.latitude;
        lon = position.coords.longitude;
        var map = new BMap.Map("container"); // 创建Map实例
        var point = new BMap.Point(lon, lat); // 创建点坐标
        //map.centerAndZoom(point,15); //
        //map.enableScrollWheelZoom();
        var gc = new BMap.Geocoder();
        gc.getLocation(point, function (rs) {
            var addComp = rs.addressComponents;
            x.innerHTML = "您的当前地址为" + addComp.district + ", " + addComp.street;
            alert(addComp.province + ", " + addComp.city + ", " + addComp.district + ", " + addComp.street);
        });
    }

    try {
        getPosition();
    } catch (e) {
        alert(e);
    }
</script>
<script>
    var x = 0, y = 0, z = 0;
    window.onload = function () {
        ///**最基础的盒子 */
        //var div = lt_code.newDom("div", {
        //    class: "box",
        //});
        ///**设计一个指针 */
        //var line = lt_code.newDom("div", {
        //    class: "line",
        //});

        //lt_code.addChild(line, div);
        //lt_code.addChild(div);
        var lines = lt_code.getAll(".line");

        /**陀螺仪 */
        var gyroscope = {
            acrivated: false,
            start: function () { },
            x:0,y:0,z:0,
        };
        try {
            //创建一个陀螺仪
            gyroscope = new Gyroscope({ frequency: 30 });
            var demo2 = lt_code.getAll(".demo2");
            if (!gyroscope.activated) {
                gyroscope.start();
                lt_code.variable.addRun(setInterval(function () {
                    demo2.innerText = "x:" + gyroscope.x + " ;\ny:" + gyroscope.y + " ;\nz:" + gyroscope.z + " ;";
                    x += gyroscope.x;
                    y += gyroscope.y;
                    z += gyroscope.z;
                    lines[0].style.transform = "rotate(" +x+ "deg)";
                    lines[1].style.transform = "rotate(" +y+ "deg)";
                    lines[2].style.transform = "rotate(" +z+ "deg)";
                }, 33), "显示陀螺仪数据");
            }
            console.log(gyroscope);
        } catch (e) {
            alert(e);
            alert("你的浏览器不支持直接调用传感器!");
        }

    }
</script>