<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>尝试下载</title>
    <!--<script src="../static/JavaScriptCode/lt_code.js"></script>-->
    <link href="../static/css/all.css" rel="stylesheet" />
</head>
<body>
    <!--<input type="button" name="name" value="下载" />-->
    <a href="../static/temp/全部作业.txt" download="全部作业.txt">全部作业.txt</a>
    <br />
    <a href="../static/temp/Chrome_Google_v49.0.2623.112.exe" download="Chrome_v49.exe">Chrome_v49.exe</a>
    <div>
        <div class="allFooter">
            &copy; 2020 <a href="https://github.com/huimengli" target="_blank" title="我的GitHub地址">绘梦璃</a> | <a target="_blank" href="http://beian.miit.gov.cn/" title="备案信息查看">浙ICP备2020031480号</a> | All Rights Reserved.
        </div>
    </div>
</body>
</html>
<!--<script>
    /**文件 */
    var file = "";
    /**下载按钮 */
    var button = lt_code.getAll("input");
</script>-->