@keyframes changeColor {
    0% {
        color: inherit;
    }

    50% {
        color: aqua;
    }

    100% {
        color: inherit;
    }
}

.allFooter {
    width:100%;
    text-align: center;
    position: absolute;
    bottom: 10px;
    font-size:12px;
}

    .allFooter a {
        color: inherit;
        text-decoration: none;
    }

        .allFooter a:link {
            color: inherit;
        }

        .allFooter a:hover {
            cursor: pointer;
            animation: changeColor 1s infinite;
        }

        .allFooter a:visited {
            color: inherit;
        }

*{
    border:0;
    margin:0;
    padding:0;
}

*::-webkit-scrollbar{
    background-color:rgba(255,255,255,0.3);
    border:1px solid snow;
    width:12px
}

*::-webkit-scrollbar-thumb{
    background-color: rgba(70, 129, 255, 0.3);
    border: 2px solid snow;
    border-radius: 10px;
}