body
{
    width:100vw;
    height:100vh;
    overflow:hidden;
    background-position:center;
    background-image:url(../images/background/1.jpg);
    position:relative;
}

.menu {
    width: 30vw;
    float: left;
    position: relative;
    left: 0px;
    top: 0px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(70, 129, 255, 0.3);
}

div.main{
    width:70vw;
    float:left;
    position:relative;
    top:0px;
    right:0px;
    height:100vh;
    overflow-x:hidden;
    overflow-y:auto;

}

div.menu div.list {
    background-color: rgba(85, 85, 85, 0.6);
    /*box-shadow: inset 0 0 10px rgba(0, 138, 255, 0.6);*/
}

div.main div.title {
    background-color: rgba(70, 129, 255, 0.3);
    height: 100px;
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    box-shadow: inset 0 0 10px rgba(0, 138, 255, 0.6);
}

div.icon {
    width: 100%;
    height: 100px;
    text-shadow: 0px 0px 2px #555;
    box-shadow: inset 0 0 10px rgba(0, 138, 255, 0.6);
    position:absolute;
    bottom:0px;
}

    div.icon img.icon {
        width: 80px;
        height: 80px;
        position: relative;
        float: left;
        left: 10px;
        top: 10px;
        /*opacity: 0.6;*/
        border-radius:40px;
    }

    div.icon div {
        height: 100%;
        text-align: center;
        line-height: 100px;
        font-size: 25px;
        font-weight: 600;
    }

    div.icon div a{
        color: inherit;
        text-decoration: none;
    }

        div.icon div a:link {
            color: inherit;
        }

        div.icon div a:hover {
            cursor: pointer;
            animation: changeColor 1s infinite;
        }

        div.icon div a:visited {
            color: inherit;
        }


div.menu div.title {
    width: 100%;
    height: 100px;
    font-size: 25px;
    line-height: 100px;
    text-align: center;
    font-weight: 600;
    text-shadow: 0px 0px 2px #555;
    box-shadow: inset 0 0 10px rgba(0, 138, 255, 0.6);
}

div.menu div.list{
    width:calc(30vw - 40px);
    height:calc(100vh - 240px);
    overflow:auto;
    padding:20px;
}

div.listBlock {
    /*margin-left:20px;*/
    height: 25px;
    overflow: hidden;
    border-left:1px dashed snow;
    border-bottom:1px dashed snow;
}

div.listBlock div.listBlock{
    margin-left:20px;
}

div.listBlock div.listValue {
    padding-left: 5px;
    border-top: 1px dashed snow;
    border-right: 1px dashed snow;
    background-color: rgba(255,255,255,0.5);
    height: 24px;
    line-height: 24px;
    position:relative;  
}

div.listValue>div.listBottom {
    width: 0;
    height: 0;
    border-right: 20px solid black;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    right: 4px;
    top: 1px;
    transition-duration:0.3s;
}

div.menu div.list div.listSelect{
    overflow:visible;
    height:auto;
}

div.listSelect>div.listValue{
    border-bottom:1px dashed snow;
}

div.listSelect>div.listValue>div.listBottom {
    transform:rotate(-90deg);
}

div.footer {
    position: absolute;
    width: 100vw;
    height: 30px;
    bottom: 0px;
    text-align: center;
    z-index:100;
}

div.allFooter{
    width:370px;
    position:relative;
    height:30px;
    line-height:30px;
    margin:0 auto;
    bottom:0px;
    background-color:rgba(255, 255, 255, 0.70);
}

div.main div.title div.bottom {
    float: left;
    width: 100px;
    height: 30px;
    background-color: rgba(255,0,0,0.6);
    line-height: 30px;
    text-align: center;
    text-shadow: 0px 0px 1px;
    border-radius: 5px;
    margin:auto;
    cursor:pointer;
}

div.main div.title div.admin{
    background-color:rgba(255, 0, 0, 0.6);
}

div.main div.title div.user{
    background-color:rgba(0, 52, 255,0.6);
}

div.main div.title div.guest{
    background-color:rgba(255, 255, 255,0.6);
}

div.main div.title div.bottom:hover{
    color:white;
}

div.main div.box{
    width:70vw;
    height:calc(100vh - 100px);
    background-color:rgba(255, 255, 255, 0.6);
    overflow:hidden;
}

div.showBox{
    width:70vw;
    height:calc(100vh - 127px);
    overflow-x:hidden;
    overflow-y:scroll;
}

div.eachFile {
    width: 70vw;
    height: 50px;
    overflow: hidden;
    box-shadow: inset 0px 0px 5px snow;
    background-color: rgba(255,255,255,0.3);
    border-bottom: 1px solid snow;
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
}

    div.eachFile:first-child {
        border-top: 1px solid snow;
    }

    div.eachFile>div{
        /*float:left;*/
        margin:auto;
        height:25px;
        line-height:25px;
        width:calc(70vw / 4);
        text-align:center;
        border-right:1px solid snow;
    }

    div.eachFile>div:last-child{
        border-right:none;
    }

        div.eachFile > div.eachFileBottom > div.eachFileBottomBottom {
            width: 33%;
            height: 30px;
            border: 1px solid snow;
            /*margin: -3px auto;*/
            margin-top:-3px;
            border-radius: 6px;
            line-height: 30px;
            /* text-align: center; */
            float: left;
            /* margin: auto; */
            margin-left: calc( ( 100% - 66% ) / 3);
        }

        div.eachFile>div.eachFileBottom>div.eachFileBottomBottom:hover{
            cursor:pointer;
        }

#alertInputBox.alertSelect {
    width: 100%;
    height: calc(200px - 90px - 10px - 3px);
    display: flex;
    align-items: center;
}

#alertInputBox.alertSelect>#alertInput{
    width:200px;
    margin:auto;
}

        .alertSelect>#alertBox{
            height:300px;
            top:calc(50vh - 150px);
        }

        .alertSelect>#alertBox>#alertValue{
            border-bottom:3px double #999;
        }

#alertBack {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    background-color: rgba(0,0,0,0.4);
}

#alertBox {
    width: 300px;
    height: 200px;
    position: relative;
    top: calc(50vh - 100px);
    left:calc((100vw - 300px)/2);
    background-color: white;
    border: 3px double #999;
    border-radius: 10px;
    overflow:hidden;
}

#alertTitle {
    width: 100%;
    text-align: center;
    border-bottom: 3px double #999;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    overflow:hidden;
}

#alertValue {
    padding: 5px;
    word-break: break-word;
    display: flex;
    height: calc(200px - 90px - 10px - 6px);
    justify-content: space-around;
    align-items: center;
    overflow:hidden;
}

#alertYesBottom {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-top: 3px double #999;
    border-right: 3px double #999;
    height:40px;
    font-size:25px;
    line-height:40px;
}

#alertNoBottom {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-top: 3px double #999;
    border-left: 3px double #999;
    height: 40px;
    font-size: 25px;
    line-height: 40px;
}

#fileBox {
    width: 700px;
    height: 600px;
    background-color: snow;
    position: absolute;
    top: calc((100vh - 600px)/2);
    left: calc((100vw - 700px)/2);
    z-index: 100;
    border: 3px double #999;
    border-radius: 10px;
    overflow: hidden;
}

#fileTitle {
    height: 70px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    line-height: 70px;
    border-bottom: 3px double #999;
}

.fileValue {
    width: calc(50% - 3px / 2);
    height: 457px;
    border-bottom: 3px double #999;
    float:left;
    overflow:hidden;
}

#fileValue1{
    border-right:3px double #999;
}

#fileValue2{

}

.fileBottom {
    float: left;
    width: calc(100%/4 - 3px*3/4);
    border-right: 3px double #999;
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 24px;
    font-weight: 600;
}

.fileBottom:last-child{
    border-right:none;
}

.eachFile.dir > span.dir {
    width: calc(70vw / 4 * 3 - 40px);
    margin: auto;
    height: 25px;
    line-height: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.fileValue .valueTitle {
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    border-bottom: 1px solid #999;
}

.fileValue .valueLine{
    height:30px;
    line-height:30px;
    overflow:hidden;
}

.fileValue .valueLine>div{
    float:left;
}

.fileValue .valueLineTitle{
    padding-left:5px;
}

div.icon div.iconUp {
    width: 80px;
    height: 74px;
    float: left;
    position: relative;
    left: 10px;
    top: 10px;
    padding-top:6px;
    line-height:normal;
    border:1px solid #ccc;
    border-radius:40px;
}

#upHeadPhoto {
    width: 600px;
    height: 400px;
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    z-index: 1;
    left: calc((100vw - 602px)/2);
    top: calc((100vh - 402px)/2);
    border: 1px solid rgba(153,153,153,0.8);
}

#upHeadPhotoClose {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: white;
    transition-duration: 0.3s;
}

    #upHeadPhotoClose::before {
        content: "";
        width: 30px;
        height: 4px;
        background-color: red;
        position: absolute;
        left: 10px;
        display: block;
        top: 8px;
        transition-duration:0.3s;
    }

    #upHeadPhotoClose::after {
        content: "";
        width: 30px;
        height: 4px;
        background-color: red;
        position: absolute;
        left: 10px;
        display: block;
        top: 18px;
        transition-duration:0.3s;
    }

    #upHeadPhotoClose:hover{
        background-color:red;
        cursor:pointer;
    }

    #upHeadPhotoClose:hover::before{
        transform:rotateZ(45deg);
        top:13px;
        background-color:black;
    }

    #upHeadPhotoClose:hover::after{
        transform:rotateZ(-45deg);
        top:13px;
        background-color:black;
    }

.upHeadPhotoBottom {
    width: 200px;
    height: 60px;
    border: 1px dashed #ccc;
    position: absolute;
    left: 50px;
    top: 290px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
}



.upHeadPhotoCanvas{
    border:1px dashed #ccc;
}

#upHeadPhotoCanvasIn{
    position:relative;
    left:50px;
    top:50px;
    float:left;
}

#upHeadPhotoCanvasOut {
    border-radius: 40px;
    position: relative;
    left: 60px;
    top: 20px;
}

#upHeadPhotoCanvasOutBox {
    width: 200px;
    height: 200px;
    position: relative;
    float: left;
    top: 50px;
    border: 1px dashed #ccc;
    left: 149px;
}

    #upHeadPhotoCanvasOutBox > span {
        position: absolute;
        width: 100px;
        text-align: center;
        bottom: 30px;
        font-size: 25px;
        left: 50px;
    }

#upHeadPhotoCutBox {
    position:absolute;
}
